<html>
{% include 'hackathon/base.html' %}
<body>


	<div class="row text-center">
	    <div class="col-sm-4"><a href="http://127.0.0.1:8000/hackathon/github/"><img src="/static/img/github.png"></a></div>
	    <div class="col-sm-4"><a href="http://127.0.0.1:8000/hackathon/steam/"><img src="/static/img/steam.png"></a></div>
	    <div class="col-sm-4"><img src="/static/img/github.png"></div>
	    <div class="col-sm-4"><a href={{tumblr_url}}><img src="/static/img/tumblr.png"></a></div>
		<div class="col-sm-4"><a href="http://127.0.0.1:8000/hackathon/linkedin/"><img src="/static/img/linkedin.jpg"></a></div>

  	</div>

</body>
</html>