<!DOCTYPE html>
<html>
<body>
	{% include 'hackathon/base.html' %}
	<div class="col-md-6">
		<h1 class="text-center"> {{ title }}</h1> 
		<br>
		<div class="table-responsive">
			<table class="table table-bordered">
				<tr>
					<th>Name</th>
					<td>{{blogData.name}}</td>
				</tr>
				<tr>
					<th>Posts</th>
					<td>{{blogData.posts}}</td>				
				</tr>
				<tr>
					<th>Blog title</th>
					<td>{{blogData.title}}</td>				
				</tr>
				<tr>
					<th>Last updated</th>
					<td>{{blogData.updated}}</td>				
				</tr>
				<tr>
					<th>Description</th>
					<td>{{blogData.description}}</td>				
				</tr>				
			</table>
			{{blogTag}}
			<!--<table class="table">
				{% for i,v in blogData.items %}
				<tr>
					<th>{{i}}</th>
					<td>{{v}}</td>
				</tr>
				{% endfor %}		
			</table>-->
		</div>
	</div>
</body>

</html>
