<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View CSV</title>
    <style>
        .photo-request {
            width: 50%;
            margin: auto;
            text-align: left;
        }
    </style>
</head>
<body>
{% include 'hackathon/base.html' %}

{% load static %}

{% block content %}
{% for r in requests %}
<div class="photo-request">
    <ul style="list-style-type: none">
        <li class="photo-request"><b>Name: </b>{{r.first_name}} {{r.last_name}}</li>
        <li class="photo-request"><b>Department: </b>{{r.department}}</li>
        <li class="photo-request"><b>Event name: </b>{{r.event}}</li>
        <li class="photo-request"><b>Description: </b>{{r.description}}</li>
        <li class="photo-request"><b>Start Date/Time: </b>{{r.start_date_time}}</li>
        <li class="photo-request"><b>End Date/Time: </b>{{r.end_date_time}}</li>
    </ul>
</div>
<hr>
{% endfor %}
{% endblock %}
</body>
</html>